.modal {
    position: fixed;
    background-color: rgb(0, 0, 0, .25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(128, 128, 128, .35);
    padding: 2rem;
    border-radius: 30px;
    color: white;
    width: 40vw;
    max-height: 90vh;
}

.card_content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.modal_image {
    width: 70%;
    margin-bottom: .5rem;
}

.movie_title {
    font-size: larger;
    margin-bottom: .5rem;
}

.genres_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.genre {
    background-color: var(--main-green);
    padding: .3rem;
    border-radius: 5px;
}

.origin {
    text-align: left;
}

.runtime,
.origin,
.genre {
    font-size: small;
}

.movie_preview {
    font-size: .9rem;
}

@media (max-width:800px) {
    .modal_card{
        width: 90vw;
        height: 80vh;
    }
}